<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
 
 	<bean id="algorithmManager" class="com.bh25034.logic.impl.AlgorithmManagerJosephusImpl">
 		<constructor-arg type ="int">
            <value>14</value>    
        </constructor-arg>
        <constructor-arg type ="int">
            <value>2</value>    
        </constructor-arg>
 	</bean>
    
</beans>